<div *ngIf="student" class="modal">
  
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <table style="width: 100%">
      <tr>
        <td>ID:</td>
        <td>{{student.id}}</td>
      </tr>
      <tr>
        <td>Name:</td>
        <input type="text" [(ngModel)]="student.name">
      </tr>
      <tr>
        <td>Age:</td>
        <input type="text" [(ngModel)]="student.age">
      </tr>
    </table>
  </div>

</div>