<form action="action_page.php">
  <div class="container">
    <h1>Edit Student</h1>
    <p>Please fill in this form to Edit an account.</p>
    <hr>

    <label><b>ID:</b></label>
    <input type="text" name="ID" [(ngModel)]="student.id" disabled="true">

    <label for="fistName"><b>First name:</b></label>
    <input type="text" placeholder="Enter Name" name="firstName" [(ngModel)]="student.firstName">

    <label for="lastName"><b>Last name:</b></label>
    <input type="text" placeholder="Enter Name" name="lastName" [(ngModel)]="student.lastName">

    <label for="gender"><b>Gender:</b></label>
    <input type="text" placeholder="gender" name="gender" [(ngModel)]="student.gender">

    <label for="size"><b>Uniform Size:</b></label>
    <input type="text" placeholder="uniform Size" name="size" [(ngModel)]="student.size">

    <label for="Age"><b>Age:</b></label>
    <input type="text" placeholder="Enter Age" name="Age" [(ngModel)]="student.age">
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <div class="group-btn">
      <button type="submit" class="backbtn" (click)="goBack()">Back</button>
      <button type="submit" class="registerbtn" (click)="updateStudent()">Save</button>
    </div>
  </div>
</form>
