<form action="action_page.php">
  <div class="container">
    <h1>Create Student</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="fistName"><b>First name:</b></label>
    <input type="text" placeholder="Enter Name" name="firstName" #firstName>

    <label for="lastName"><b>Last name:</b></label>
    <input type="text" placeholder="Enter Name" name="lastName" #lastName>

    <label for="gender"><b>Gender:</b></label>
    <input type="text" placeholder="gender" name="gender" #gender>

    <label for="size"><b>Uniform Size:</b></label>
    <input type="text" placeholder="uniform Size" name="size" #size>

    <label for="Age"><b>Age:</b></label>
    <input type="text" placeholder="Enter Age" name="age" #age>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <div class="group-btn">
      <button type="submit" class="backbtn" (click)="goBack()">Back</button>
      <button
        type="submit"
        class="registerbtn"
        (click)="
          add(
            firstName.value,
            lastName.value,
            gender.value,
            size.value,
            age.value
          );
            firstName.value = '';
            lastName.value = '';
            gender.value = '';
            size.value = '';
            age.value = ''"
      >
        Save
      </button>
    </div>
  </div>
</form>

