<div class="">
	<h1>{{ title }}</h1>
</div>
<!-- <app-students></app-students> -->
<nav>
	<a routerLink="/student/new">Create Student</a>
	/
	<a routerLink="/dashboard">Dashboard</a>
	/
	<a routerLink="/student-list">Student List</a>
</nav>
<router-outlet></router-outlet>