<div *ngIf="messageService.messages.length">
  <h3>Messages</h3>
  <button class="close" (click)="messageService.close()">
    Close messages
  </button>
  <div *ngFor="let message of messageService.messages">{{message}}</div>
</div>