.col {
  float: left;
  padding-right: 1.2em;
  padding-bottom: 1.2em;
  width: 50%;
}
.col:last-child {
  padding-right: 0;
}
.student-box {
  padding: 1.4em;
  text-align: center;
  color: red;
  max-height: 8em;
  min-width: 8em;
  background-color: turquoise;
  border-radius: 1.2em;
}
.student-box:hover {
  background-color: teal;
  cursor: pointer;
  color: #eee;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}