<h3>List student dashboard</h3>
<div>
  <a
    *ngFor="let student of students"
    class="col"
    style="text-decoration: none;"
    routerLink="/student/{{student.id}}"
  >
    <div class="student-box">
      <span>ID: {{student.id}}</span>
      <h4>Full name: {{student.firstName + ' ' + student.lastName}}</h4>
    </div>
  </a>
</div>