.details-list {
  text-align: center;
  color: seagreen;
  font-family: serif;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table th {
  text-align: center;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.selected {
  background-color: burlywood !important;
  color: red;
}