<h1>
  Student contructor
</h1>
<div class="details-list">
	ID: {{ student.id }}
</div>
<div class="details-list">
	Name: {{ student.firstName }}
</div>
<div class="details-list">
	Age: {{ student.age }}
</div>

<div class="details-list">
  <label for="">ID (Binding one way):
    <input type="text" [ngModel]="student.id">
  </label>
</div>
<div class="details-list">
  <label for="">Name (Binding two way):
    <input type="text" [(ngModel)]="student.firstName">
  </label>
</div>

<h1>Student Details</h1>
<table class='table-state'>
  <tr >
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Uniform Size</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let eachStudent of studentLists"
    [class.selected]="eachStudent === selectedStudent"
    (click)="onBlurStudent(eachStudent)"
  >
    <td>{{eachStudent.id}}</td>
    <td>{{eachStudent.firstName}}</td>
    <td>{{eachStudent.lastName}}</td>
    <td>{{eachStudent.age}}</td>
    <td>{{eachStudent.gender}}</td>
    <td>{{eachStudent.size}}</td>
    <td>
      <!-- <a [routerLink]="['/student', eachStudent.id]" style="text-decoration: none;">Edit</a> -->
      <a routerLink="/student/{{eachStudent.id}}" style="text-decoration: none;">Edit</a>
    </td>
    <td>
      <button (click)="deleteStudent(eachStudent.id)">Delete</button>
    </td>

  </tr>
</table>

<app-edit-student-modal [student]="selectedStudent"></app-edit-student-modal>
<app-message></app-message>