/* You can add global styles to this file, and also import other style files */
h1 {
  color: red;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 200%;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  max-width: 200px;
}
.backbtn {
  background-color: slategrey;
  color: white;
  padding: 16px 20px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  max-width: 200px;
}
.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.group-btn {
  display: flex;
  justify-content: center
}